@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  width: 100%;
}
ul {
  list-style: none;
}
.cf::after {
  content: "";
  display: block;
  clear: both;
}
.row {
  max-width: 1170px;
  margin: 0 auto;
}

#header {
  padding: 20px 0;
  border: 1px solid #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}
#header h1 {
  float: left;
  border: 0px solid #000;
}
#header #nav {
  float: right;
}
#header #nav .depth1 > li {
  float: left;
  font-size: 14px;
  color: #fff;
  font-family: "Noto Sans KR";
  font-weight: 900;
  margin-left: 30px;
  margin-top: 13px;
}

#section .slide {
  position: relative;
  /* background-image: url(../image/mainslide1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  background: url(../image/mainslide1.jpg) no-repeat center / cover;
  /* 배경이미지는 높이가 있어야 보임. 100vh는 화면이랑 같은 높이를 뜻함 */
  height: 100vh;
}
#section .slide .text {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  color: #fff;
}
#section .slide .text p {
  font-size: 20px;
}
#section .slide .text h2 {
  font-size: 50px;
  margin: 30px 0 50px;
}
#section .slide .text a {
  padding: 10px 16px;
  font-size: 18px;
  border: 2px solid #fff;
  border-radius: 3px;
}
