@media screen and (max-width: 1220px) {
  .row {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
  }
}

@media screen and (max-width: 990px) {
  #header {
    background-color: #fff;
  }
  #header .row {
    padding: 0;
  }

  #header .row h1 {
    float: left;
    padding: 10px 0 10px 50px;
  }

  #header .row .menuopen {
    float: right;
    display: block;
    height: 85px;
    line-height: 85px;
    font-size: 25px;
    margin-right: 50px;
  }

  #header .row #nav {
    float: right;
    width: 100%;
    display: block;
  }

  #header .row #nav ul.depth1 > li {
    float: none;
    position: relative;
    text-align: left;
    margin-left: 0px;
  }

  #header .row #nav ul.depth1 > li > a {
    font-size: 17px;
    font-weight: bold;
    padding: 0px 50px;
    display: block;
    color: #333;
    height: auto;
    line-height: 50px;
    border-top: 1px solid rgba(132, 132, 132, 0.15);
  }
  #header .row #nav ul.depth1 > li:hover > a {
    background: #000;
    color: #fff;
  }
  #header .row #nav ul.depth1 > li > a::after {
    display: block;
    position: absolute;
    top: 2px;
    right: 50px;
    font-size: 10px;
    font-family: "FontAwesome";
    content: "\f107";
    opacity: 0.3;
  }

  #header .row #nav ul.depth1 > li:hover > ul.depth2 {
    display: block;
  }

  #header .row #nav ul.depth2 {
    display: none;
    position: static;
    top: 100%;
    width: 100%;
    text-align: left;
    z-index: 999;
  }

  #header .row #nav ul.depth2 > li > a {
    display: block;
    padding: 12px 0 12px 50px;
    font-size: 14px;
    font-weight: 600;
    border-bottom: 0px solid rgba(132, 132, 132, 0.15);
    border-top: 1px solid rgba(132, 132, 132, 0.15);
    background-color: #fff;
    color: #333;
    transition: all 0.3s;
  }

  #header .row #nav ul.depth2 > li > a:hover {
    background-color: #000;
    color: #fff;
  }
}
